# Rust
target/
**/*.rs.bk
src-tauri/target/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Local Data / App Data overrides
BerryAppData/
*.db
*.redb

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example
